@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Hind');

@media only screen and (min-width: 600px) {

  /* Checkboxes */
  h3 {
    font-family: "Hind",
      sans-serif;
    margin-top: -20px;
    background-color: white;
    width: 179px;
    padding: 10px;
    margin-left: 35%;
    /* -webkit-margin-start: 10%;
    margin-inline-start: 10%; */

  }

  label {

    font-family: 'Hind', sans-serif;
    font-size: 20px;
    display: inline
  }

  .checker {
    display: inline
  }

  select {
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
  }

  input {
    margin-left: 20px;
    font-family: 'Hind', sans-serif;
    width: 200px;
    font-size: 15px;
    border: none;
    border-bottom: solid 1px #393c83;
  }

  #app {
    color: #2c3e50;
  }

  #main {
    border: 1px solid #393c83;
    margin-top: 20px;
    height: 100%;
    width: 100%;
  }

  #loadData {
    cursor: pointer;
    background-color: #393c83;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    position: absolute;
    right: 0;
    margin-right: 35%;
  }

  #saveButton {
    cursor: pointer;
    border: none;
    background-color: #393c83;
    color: white;
    padding: 12px 16px;
    margin: 20px;
    font-size: 16px;
  }

  #wrapper {
    background: white;
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
  }

  #facebookFooter {
    display: none;
  }

}

@media only screen and (max-width: 600px) {

  #facebook {
    display: none;
  }

  #wrapper {
    background: white;
    width: 70%;
    border: 3px solid white;
    padding: 10px;
  }

  h3 {
    font-family: "Hind",
      sans-serif;
    margin-top: -20px;
    background-color: white;
    width: 179px;
    padding: 10px;
    margin-left: 10%;

  }

  label {

    font-family: 'Hind', sans-serif;
    font-size: 20px;
    display: inline
  }

  .checker {
    display: inline
  }

  select {
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
  }

  input {
    margin-left: 20px;
    font-family: 'Hind', sans-serif;
    width: 200px;
    font-size: 15px;
    border: none;
    border-bottom: solid 1px #393c83;
  }

  #app {
    color: #2c3e50;
  }

  #main {
    border: 1px solid #393c83;

    width: 300px;
  }

  #loadData {
    cursor: pointer;
    background-color: #393c83;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    position: absolute;
    right: 0;
    margin-right: 25%;
  }

  #saveButton {
    cursor: pointer;
    border: none;
    background-color: #393c83;
    color: white;
    padding: 12px 16px;
    margin: 20px;
    font-size: 16px;
  }

  #wrapper {
    background: white;
    margin: 10%;
    border: 3px solid white;
    padding: 10px;
  }


}
